/**
* Add this file after any highlighting theme from hljs/prism if you want to use
* any added html content like line numbers, language name or line markers.
**/

figure.code pre {
  position: relative;
}

figure.code pre div.mdkekcode-linenumbers {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 1em;
  left: 0;
  text-align: right;
  width: 2.5em;
  padding-left: 1em;
  background-color: #282c34;
}

figure.code pre div.mdkekcode-linenumbers.mdkekcode-manylines {
  width: 4em;
}

figure.code pre div.mdkekcode-linenumbers > span > span {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid grey;
  color: grey;
}

figure.code code.mdkekcode-linenumbers {
  padding-left: 3.5em;
  display: block;
}

figure.code code.mdkekcode-linenumbers.mdkekcode-manylines {
  padding-left: 5em;
}

figure.code pre div.mdkekcode-langname {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: grey;
  border-radius: 5px;
  padding: 2px 1em;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

figure.code pre:hover div.mdkekcode-langname {
  visibility: visible;
  opacity: 1;
}

figure.code pre span.mdkekcode-marked {
  background-color: #ffffff1a;
  min-width: max-content;
  display: block;
}
